@use "../../../functions" as *;

.drop-down-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  width: toRem(204);
  background-color: var(--primaryColor);
  color: var(--darkGray);
  height: toRem(40);
  transition: 0.4s;
  border-bottom: toRem(4);

  &:first-of-type {
    border-top-left-radius: toRem(4);
    border-top-right-radius: toRem(4);
    background-color: var(--primaryColor);
    color: var(--blue);
  }
  &:last-of-type {
    border-bottom-left-radius: toRem(4);
    border-bottom-right-radius: toRem(4);
  }

  &:hover {
    background-color: var(--ligthBlue);
    color: var(--black);
    transition: 0.4s;
  }
}
