@use "../../functions" as *;

.table-wrapper {
  display: flex;
  width: 100%;
  background: var(--primaryColor);
  border-radius: toRem(8);
}

.client-table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
  background: var(--primaryColor);

  &__head-cell {
    height: toRem(61);
    border-bottom: toRem(1) solid var(--lightGray);
    text-align: start;
    &:last-of-type {
      text-align: end;
    }
  }
}
